



.stepReverse
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: flex-start
  padding: 40px 0


  @media screen and (max-width: 950px)
    padding: 0
    display: flex
    flex-direction: column-reverse
    justify-content: flex-start
    align-items: center

  img
    width: 100%

  article
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    margin: 90px 0 30px 0
    padding: 0 80px
    width: 100%
    @media (max-width: 720px)
      padding: 0


  @media screen and (max-width: 414px)
    padding: 0

@mixin stepCard
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  margin: 90px 0 30px 0
  max-width: 540px
  font-family: Raleway, sans-serif
  h3
    text-align: center
    margin-bottom: 20px
    font-size: 22px

  p
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    margin-bottom: 10px
    line-height: 25px

    i
      align-self: flex-start
      color: green
      margin: 5px 10px 0 0


  span
    font-size: 18px

  @media screen and (max-width: 1024px)
    margin: 90px 0 30px 0
    padding: 0 80px


.container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center


  h2
    text-align: center
    font-family: Raleway, sans-serif
    margin: 30px 0
    font-size: 30px
    font-weight: 500

  &__description
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center


    .cardContainer
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: flex-start
      @media (max-width: 720px)
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center


    .card
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      max-width: 300px
      margin: 40px 40px 40px 0
      font-family: Raleway, sans-serif

      h3
        margin-top: 20px
        font-size: 22px
        font-weight: 500

      p
        margin-top: 10px
        font-size: 14px
        line-height: 20px
        font-weight: 400

      img
        max-height: 85px

      &:last-child
        margin-right: 0

      @media screen and (max-width: 768px)
        max-width: 100%
        margin: 40px

      @media screen and (max-width: 414px)
        p
          margin-right: 10px


  .adv
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    margin-bottom: 50px
    width: 100%
    max-width: 1100px

    .images
      img
        max-height: 40px
        cursor: pointer

      img:first-child
        display: block

      img:last-child
        display: none

      &:hover
        img
          max-height: 40px
          cursor: pointer

        img:first-child
          display: none

        img:last-child
          display: block


      @media screen and (max-width: 414px)
        img
          max-height: 20px
          max-width: 70px
          margin: 0 30px

        &:hover
          max-height: 20px
          max-width: 70px
          margin: 0 30px


  .stats
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

    div
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      padding: 10px 20px
      border-right: 1px solid grey
      @media (max-width: 580px)
        padding: 10px 5px

      p
        font-family: Lato, sans-serif
        margin-right: 10px
        font-size: 20px
        font-weight: 600

      span
        font-family: Raleway, sans-serif
        font-size: 18px
        font-weight: 400


    div:last-child
      border-right: 0

    @media screen and (max-width: 414px)
      flex-wrap: wrap

    div
      margin-bottom: 10px
      border-right: 0


  .step
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    padding: 40px 0

    article
      @include stepCard

    @media screen and (max-width: 823px)
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center


    img
      width: 100%


.greenStep
  @include stepCard
  color: black










